/* Tailwind directives */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Scrollbar Theme */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scroll height */
  width: 8px;  /* vertical scroll width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1F1E24; /* dark track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6556CD; /* purple thumb */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4d44a3; /* darker purple on hover */
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
